<header class="jumbotron-fluid mb-3 mb-sm-5 text-center py-3 text-white shadow top">
    <h1 class="font-weight-bold dectext"><%= title %></h1>
    <nav class="nav justify-content-center font-weight-bold">
        <li><a class="nav-link text-white fun" href="/blogs">Home</a></li>
        <li><a class="nav-link text-white fun" href="/blogs/about">About us</a></li>
        <li><a class="nav-link text-white fun" href="/admin">Admin</a></li>
    </nav>
</header>